*{
    box-sizing: border-box; /*layout sie nie rozjezdza; auotmatycznie zwartosc sie zmniejsza zeby wszystko dopasowac*/
}

body{
    background: rgb(201, 185, 163);
    margin:0;
}

/* MENU/LOGO */
header{
    position: sticky;
    top:0;
    z-index:9999999;
    background: #EFDCCC;
}

#pasekMenu{
    max-width: 100%;
    width: 100vw;
    height: 20.5vh;
    top:0;
    display:flex;
    justify-content: center;
    background: #EFDCCC;
}

#logo{
    min-width:150px;
    width:13vw;
    height:100%;
}

#logo img{
    width:100%;
    height:100%;
}

#menu{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#menu ul{
    list-style-type: none;
    display:flex;
    gap:4.76vw;
}

#menu a , .guzikDarkmode{
    display: inline-block;
    padding: 1.37vh 2.74vw;
    text-decoration: none;
    color: #5d4532;
    font-size:16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid #A18157;
    border-radius: 15px;
    box-shadow: 5px 10px #A18157;
    background: #EFDCCC;
}

#menu a:hover, #listaMenuGuzik:hover, .guzikDarkmode:hover{
    transform: scale(1.1);
    /* transition: 0.5s; */
}

/* ROZWIJANE MENU */
#listaMenuGuzik{
    display:none;
    background: #EFDCCC; 
}

.ukryteMenu{
    height:0;
    overflow:hidden;
    transition: height 0.4s ease-in-out;
}

.pokazaneMenu{
    height:11.5vh;
    overflow:hidden;
    transition: height 0.4s ease-in-out;
    display: flex;
    justify-content: center;
}

.ukryteMenu ul{
    display: none;
}

.pokazaneMenu ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    gap: 3vw;
    padding-left: 0;
}

.pokazaneMenu a{
    display: inline-block;
    padding: 1.37vh 2.74vw;
    text-decoration: none;
    color: #5d4532;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid #A18157;
    border-radius: 15px;
    box-shadow: 5px 10px #A18157;
    background: #EFDCCC;
}

main {
  max-width: 1100px;
  margin: 30px auto;
  padding: 0 20px;
}

main h2 {
  font-size: 2rem;
  text-align: center;
  color: #5d4532;
  margin-bottom: 40px;
}

.Psiaki, .Kociaki {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.boxnapieski, .boxnakotki {
  display: flex;
  gap: 30px;
  background-color: #f2e5d9;
  border-radius: 20px;
  padding: 20px;
  align-items: center;
  box-shadow: 5px 5px 15px rgba(93, 69, 50, 0.3);
  flex-wrap: wrap;
}

.boxnapieski img, .boxnakotki img {
  max-width: 300px;
  width: 100%;
  border-radius: 15px;
  flex-shrink: 0;
  object-fit: cover;
}

.prostokat {
  padding: 20px;
  flex: 1;
  display: flex;
  align-items: center;
}

.opiszwierzakow p {
  font-size: 1rem;
  line-height: 1.6;
  white-space: pre-line;
  margin: 0;
}

/* FOOTER */
footer {
    height: 120px;
    width: 100%;
    background-color: #EFDCCC;
    padding: 1rem 0;
    color: #5d4532;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-inner {
    display: flex;
    gap: 15rem;
    text-align: left;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column h3 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    font-size: 014pxrem;
    margin-bottom: 0.3rem;
}

.footer-column a {
    color: #5d4532;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

@media(max-width: 768px){
    #listaMenuGuzik{
        display:block;
        display: inline-block;
        padding: 1.37vh 2.74vw;
        text-decoration: none;
        color: #5d4532;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border: 2px solid #A18167;
        border-radius: 15px;
        box-shadow: 5px 10px #A18167;
        transition: backround 0.3s, color 0.3s;
        
    }
    #menu{
        justify-content: space-evenly;
    }
    #menu a, #menu button:nth-child(1){
        display: none;
    }

    .boxnapieski, .boxnakotki {
    flex-direction: column;
    text-align: center;
  }

  .prostokat {
    padding-top: 15px;
    align-items: flex-start;
  }

  .boxnapieski img, .boxnakotki img {
    max-width: 100%;
    height: auto;
    border-radius: 15px 15px 0 0;
  }
}


/* DARKMODE */
body.dark-mode,
body.dark-mode #pasekMenu,
body.dark-mode #menu a,
body.dark-mode #menu button,
body.dark-mode p,
body.dark-mode h2,
body.dark-mode .guzikDarkmode,
body.dark-mode #menuRozwijane,
body.dark-mode .guzikDarkmode,
body.dark-mode #menuRozwijane a,
body.dark-mode .boxnakotki, 
body.dark-mode .boxnapieski,
body.dark-mode footer,
body.dark-mode footer a{
    background:#6b5341;
    color:#EFDCCC;
}

body.dark-mode .boxnakotki,
body.dark-mode .boxnapieski{
    border:1px solid #594536;
}

body.dark-mode footer{
    border-top:1px solid #594536;
}

body.dark-mode header{
    border-bottom:1px solid #594536;
}

