*{
    box-sizing: border-box; /*layout sie nie rozjezdza; auotmatycznie zwartosc sie zmniejsza zeby wszystko dopasowac*/
}

body{
    background: rgb(201, 185, 163);
    margin:0;
}

/* MENU/LOGO */
header{
    position: sticky;
    top:0;
    z-index:9999999;
    background: #EFDCCC;
}

#pasekMenu{
    max-width: 100%;
    max-height: 100%;
    width: 100vw;
    height: 20.5vh;
    top:0;
    display:flex;
    justify-content: center;
    background: #EFDCCC;
}

#logo{
    /* width:200px; */
    min-width:150px;
    width:13vw;
    height:100%;
}

#logo img{
    width:100%;
    height:100%;
}

#menu{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

#menu ul{
    list-style-type: none;
    display:flex;
    gap:4.76vw;
}

#menu a , .guzikDarkmode{
    display: inline-block;
    padding: 1.37vh 2.74vw;
    text-decoration: none;
    color: #5d4532;
    font-size:16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid #A18157;
    border-radius: 15px;
    box-shadow: 5px 10px #A18157;
    background: #EFDCCC;
}

#menu a:hover, #listaMenuGuzik:hover, .guzikDarkmode:hover, #guzikX:hover, #submit:hover{
    transform: scale(1.1);
    /* transition: 0.5s; */
}

/* ROZWIJANE MENU */
#listaMenuGuzik{
    display:none;
    background: #EFDCCC; 
}

.ukryteMenu{
    height:0;
    overflow:hidden;
    transition: height 0.4s ease-in-out;
}

.pokazaneMenu{
    height:11.5vh;
    overflow:hidden;
    transition: height 0.4s ease-in-out;
    display: flex;
    justify-content: center;
}

.ukryteMenu ul{
    display: none;
}

.pokazaneMenu ul{
    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    gap: 3vw;
    padding-left: 0;
}

.pokazaneMenu a{
    display: inline-block;
    padding: 1.37vh 2.74vw;
    text-decoration: none;
    color: #5d4532;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid #A18157;
    border-radius: 15px;
    box-shadow: 5px 10px #A18157;
    background: #EFDCCC;
}

/* ******** */

main{
    max-width:100%;
    width:100vw;
    height:66.5vh;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* FOOTER */
footer {
    height: 120px;
    width: 100%;
    background-color: #EFDCCC;
    padding: 1rem 0;
    color: #5d4532;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-inner {
    display: flex;
    gap: 15rem;
    text-align: left;
}

.footer-column {
    display: flex;
    flex-direction: column;
}

.footer-column h3 {
    font-size: 28px;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column li {
    font-size: 014pxrem;
    margin-bottom: 0.3rem;
}

.footer-column a {
    color: #5d4532;
    text-decoration: none;
}

.footer-column a:hover {
    text-decoration: underline;
}

/* MEDIA */

@media(max-width: 768px){
    #listaMenuGuzik{
        display:block;
        display: inline-block;
        padding: 1.37vh 2.74vw;
        text-decoration: none;
        color: #5d4532;
        font-family: Georgia, 'Times New Roman', Times, serif;
        border: 2px solid #A18157;
        border-radius: 15px;
        box-shadow: 5px 10px #A18157;
        transition: backround 0.3s, color 0.3s;
        
    }
    #menu{
        justify-content: space-evenly;
    }
    #menu a, #menu button:nth-child(1){
        display: none;
    }
}


/* DARKMODE */

body.dark-mode,
body.dark-mode #pasekMenu,
body.dark-mode #menu a,
body.dark-mode #menu button,
body.dark-mode h1,
body.dark-mode .guzikDarkmode,
body.dark-mode #menuRozwijane,
body.dark-mode .guzikDarkmode,
body.dark-mode #menuRozwijane a,
body.dark-mode footer,
body.dark-mode footer a,
body.dark-mode label,
body.dark-mode #submit{
    background:#6b5341;
    color:#EFDCCC;
}

body.dark-mode footer{
    border-top:1px solid #594536;
}

body.dark-mode header{
    border-bottom:1px solid #594536;
}

/* FORMULARZ */


#formularz{
    width:40vw;
    height:100%;
    display:flex;
    justify-content: space-around;
    align-items:center;
    color:#5d4532;
}

h1{
    text-align: center;
}

#inputy{
    display: flex;
    align-items: center;
    width: 30%;
    height: 100%;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

input{
    align-self: center;
}

#submit{
    align-self: center;
    display: inline-block;
    padding: 1.37vh 2.74vw;
    text-decoration: none;
    color: #5d4532;
    font-size:16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid #A18157;
    border-radius: 15px;
    box-shadow: 5px 10px #A18157;
    background: #EFDCCC;
}

label{
    font-size: large;
}